.box-header.with-border {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.collapsed-box .box-header.with-border {
    border-bottom: none;
}
@media (max-width: 767px) {
    .vtabs .tabs-vertical {
        width: auto;
    }
}
/*Vertical tabs*/
.vtabs {
    display: table;
}

    .vtabs .tabs-vertical {
        width: 150px;
        border-bottom: 0px;
        border-right: 1px solid rgba(128, 128, 128, 0.13);
        display: table-cell;
        vertical-align: top;
    }

        .vtabs .tabs-vertical li .nav-link {
            color: #262626;
            margin-bottom: 10px;
            border: 0px;
            border-radius: 10px 0 0 10px;
        }

    .vtabs .tab-content {
        display: table-cell;
        padding: 10px;
        vertical-align: top;
    }
.tabs-vertical li .nav-link:hover, .tabs-vertical li .nav-link:active, .tabs-vertical li .nav-link:focus, .tabs-vertical li .nav-link.active {
    border: 0px;
    color: #007bff;
}
@media (min-width: 576px) {
    .hidden-sm-up {
        display: none !important;
    }
}
.box {
    position: relative;
    margin-bottom: 1.5rem;
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 0px;
    -webkit-transition: .5s;
    transition: .5s;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-shadow: 1px 2px 4px 0 rgba(34, 41, 47, 0.1);
    box-shadow: 1px 2px 4px 0 rgba(34, 41, 47, 0.1);
}

    .box.collapsed-box .box-body {
        display: none;
    }

    .box.collapsed-box .box-footer {
        display: none;
    }

    .box .flex-column > li {
        border-bottom: 1px solid #f3f6f9;
        margin: 0;
    }

        .box .flex-column > li:last-of-type {
            border-bottom: none;
        }

    .box.height-control .box-body {
        max-height: 300px;
        overflow: auto;
    }

    .box .border-right {
        border-right: 1px solid #f3f6f9;
    }

    .box .border-left {
        border-left: 1px solid #f3f6f9;
    }

    .box.box-solid {
        border-top: 0;
        overflow: hidden;
    }

        .box.box-solid.box-default > .box-header {
            color: #172b4c;
            background-color: #f3f6f9;
        }

            .box.box-solid.box-default > .box-header .btn {
                color: #172b4c;
            }

            .box.box-solid.box-default > .box-header a {
                color: #172b4c;
            }

            .box.box-solid.box-default > .box-header > .box-tools .btn {
                border: 0;
                box-shadow: none;
            }

        .box.box-solid[class*=bg] > .box-header {
            color: #ffffff;
        }

            .box.box-solid[class*=bg] > .box-header .box-title {
                color: #ffffff;
            }

    .box .box-group > .box {
        margin-bottom: 5px;
    }

    .box .knob-label {
        text-align: center;
        color: #172b4c;
        font-weight: 300;
        font-size: 0.8571rem;
        margin-bottom: .3em;
    }

    .box > .loading-img, .box > .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .box .overlay {
        z-index: 50;
        background: rgba(255, 255, 255, 0.7);
        border-radius: 10px;
    }

        .box .overlay > .fa {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -15px;
            margin-top: -15px;
            color: #000000;
            font-size: 2.143rem;
        }

        .box .overlay.dark {
            background: rgba(0, 0, 0, 0.5);
        }

    .box .box-header .box-subtitle {
        font-weight: 300;
        margin-bottom: 0px;
        margin-top: 5px;
        color: #608acf;
    }

    .box .box-subtitle {
        font-weight: 300;
        margin-bottom: 0px;
        margin-top: 5px;
        color: #608acf;
    }

@media (max-width: 575px) {
    .hidden-xs-down {
        display: none !important;
    }
}
.box-header.with-border {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.box-header {
    color: #172b4c;
    display: block;
    padding: 1.5rem;
    position: relative;
    border-bottom: 1px solid rgba(72, 94, 144, 0.16);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.theme-primary .tabs-vertical li .nav-link.active {
    background-color: #4c95dd;
    color: #ffffff;
}
.theme-primary .nav-tabs .nav-link.active {
    border-bottom-color: #4c95dd;
    background-color: #4c95dd;
    color: #ffffff;
}