@model Cooking_Hub.Models.Category

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container-full">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="d-flex align-items-center">
            <div class="me-auto">
                <h4 class="page-title">Category Details</h4>

            </div>

        </div>
    </div>
<section class="content">
    <div class="row">
        <div class="col-md-6 col-12">
            <div class="media bg-white mb-20">
                <div class="media-body">
                   
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="CategoryId" />
                        <div class="form-group">
                            <label asp-for="CategoryName" class="control-label"></label>
                            <span class="form-control">@Model.CategoryName</span>
                            <span asp-validation-for="CategoryName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CategoryIsActive" class="control-label"></label>
                            <div class="switch">
                                <input type="checkbox" id="toggle-switch" disabled="disabled" @(Model.CategoryIsActive.HasValue && Model.CategoryIsActive.Value ? "checked" : "")>
                                <span class="switch-indicator"></span>
                            </div>
                            <span asp-validation-for="CategoryIsActive" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CategoryImage" class="control-label"></label>
                            <div class="image-wrapper">
                                @if (!string.IsNullOrEmpty(Model.CategoryImage))
                                {
                                    <img src="~/userimage/@Model.CategoryImage" id="previewImage" class="image-preview" alt="Image Preview" style="max-width:45%">
                                }
                                else
                                {
                                    <img src="~/img/file-upload-01.png" id="previewImage" class="image-preview" alt="Default Image" style="max-width:45%">
                                }
                            </div>
                            <span asp-validation-for="CategoryImage" class="text-danger"></span>
                        </div>

                    <div>
                        <a asp-action="Edit"  asp-route-id="@Model?.CategoryId" class="waves-effect waves-circle btn btn-circle btn-primary-light  mb-5"><i class="fa fa-edit"></i></a>  |
                            <a asp-action="Index" class="waves-effect waves-circle btn btn-circle btn-primary-light mb-5"> <i class="fas fa-arrow-left"></i>  </a>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>

