@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register ";
    ViewData["Title Description"] = "Register confirmation";

}


    @if (Model.DisplayConfirmAccountLink)
    {
        <div id="confirmationPopup" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Confirm Account</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>This app does not currently have a real email sender registered.</p>
                        <p>Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a></p>
                    </div>
                </div>
            </div>
        </div>

        <script>
            $(document).ready(function () {
                $('#confirmationPopup').modal('show');
            });
        </script>
    }
    else
    {

        <div id="checkEmailPopup" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Check Email</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Please check your email to confirm your account.</p>
                    </div>
                </div>
            </div>
        </div>
@section Scripts {
        <script>
            $(document).ready(function () {
                $('#checkEmailPopup').modal('show');
            });
        </script>
}
    }


